@import '@/assets/scss/styles.scss';

:root {
    --primary: #b25ef7; // or any color you want
    --accent-highlight: rgb(255, 100, 100);

    @each $name, $color in $division-colors {
        --#{$name}: #{$color};
    }
}

body {
    min-height: 100vh;
    background-color: $background-color !important;
    color: #ffffff;
}

.confirm-modal {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}















////////////////////////////////////////////
////////            FORMS           ////////
////////////////////////////////////////////


/// General

.form-control:focus,
textarea:focus,
.form-select:focus,
select:focus {
    border-color: color-mix(in srgb, var(--primary) 50%, white 50%) !important;
    box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--primary) 25%, transparent) !important;
    outline: 0 !important;
}

textarea {
    background-color: transparent!important;
}



/// Buttons

.btn {
    border-radius: 10px !important;
    font-weight: 600 !important;
}

.btn-primary {
    border: 1px solid var(--primary) !important;
    background-color: color-mix(in srgb, var(--primary) 97%, white 3%) !important;
    border-color: color-mix(in srgb, var(--primary) 97%, white 3%) !important;

    color: black !important;
    
    &:hover {
        background-color: color-mix(in srgb, var(--primary) 90%, black) !important;
        border-color: color-mix(in srgb, var(--primary) 90%, black) !important;
    }
    
    &:focus {
        background-color: color-mix(in srgb, var(--primary) 90%, black) !important;
        border-color: color-mix(in srgb, var(--primary) 90%, black) !important;
        box-shadow: 0 0 0 2px color-mix(in srgb, var(--primary) 20%, transparent) !important;
    }
    
    &:active {
        background-color: color-mix(in srgb, var(--primary) 60%, black 40%) !important;
        border-color: color-mix(in srgb, var(--primary) 60%, black 40%) !important;
    }
}

.btn-outline-primary {
    border: 1px solid var(--primary) !important;
    background-color: transparent !important;
    color: var(--primary) !important;
    
    &:hover {
        background-color: var(--primary) !important;
        border-color: var(--primary) !important;
        color: black !important;
    }
    
    &:focus {
        background-color: var(--primary) !important;
        border-color: var(--primary) !important;
        color: black !important;
        box-shadow: 0 0 0 2px color-mix(in srgb, var(--primary) 20%, transparent) !important;
    }
    
    &:active {
        background-color: color-mix(in srgb, var(--primary) 80%, black 20%) !important;
        border-color: color-mix(in srgb, var(--primary) 80%, black 20%) !important;
    }
}

.btn-secondary {
    border: 1px solid white !important;
    background-color: transparentize($color: white, $amount: 1) !important;

    &:hover {
        background-color: transparentize($color: white, $amount: 0.8) !important;
    }
}

.btn-danger-sec {
    border: 1px solid $danger !important;
    color: $danger !important;
    background-color: transparentize($color: $danger, $amount: 1) !important;

    &:hover {
        background-color: transparentize($color: $danger, $amount: 0.8) !important;
    }
}

.btn-small {
    padding: 8px 12px;
    border-radius: 10px;
    border: 1px solid $border-color;
    cursor: pointer;
    font-size: 13px;
    background: transparent;
    color: #eaeaea;

    font-weight: 600;

    &:hover {
        border: 1px solid rgb(160, 160, 160);
    }
}



/// Labels

.form-label {
    width: 100%;

    color: #eaeaea !important;
    font-size: 0.9rem;
    font-weight: 600;

    margin-bottom: 0.5rem;
}



/// Checkbox

.form-check-input {
    border-color: var(--primary) !important;
    
    &:checked {
        background-color: var(--primary) !important;
        border-color: var(--primary) !important;
    }

    &:focus {
        border-color: color-mix(in srgb, var(--primary) 80%, black 20%) !important;
        box-shadow: 0 0 0 2px color-mix(in srgb, var(--primary) 20%, transparent) !important;
    }
}



/// Input

.form-input {
    color: #eaeaea !important;
        
    padding-top: 6px;
    padding-bottom: 6px;

    max-width: 100% !important;
    height: 2.5rem !important;
    background-color: rgba(255, 255, 255, 0.02) !important;
    color: white !important;


    border-radius: 4px !important;
    border: 1px solid #3b4248 !important;

    padding: 0.5rem !important;
    margin-bottom: 1rem !important;

    &:focus {
        border-color: var(--primary) !important;      /* highlight border */
        box-shadow: 0 0 0 2px rgba(255,131,6,0.2); /* subtle glow */
        background-color: rgb(17, 17, 17) !important;   /* optional: change background */
        color: #fff !important;                 /* optional: change text color */
        outline: none !important;               /* remove default outline */
        transition: border-color 0.2s, box-shadow 0.2s;
    }
}

input:disabled,
select:disabled,
textarea:disabled {
    background-color: #444 !important;   /* darker background */
    color: #aaa !important;              /* lighter text */
    border-color: #666 !important;       /* muted border */
    opacity: 1 !important;               /* prevent default opacity */
    cursor: not-allowed !important;      /* show disabled cursor */
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    -moz-appearance:textfield; // mozilla specific fix because of the ugliest design decision I have ever seen (hides the spinner buttons)
}



/// Select

.soft-options {
    margin-left: auto !important;
    // width: calc(100% - 1.5rem) !important;
    width: 12rem !important;
    height: 2.35rem !important;

    border-radius: 10px;
    border-color: $border-color;

    background-color: transparent !important;
        
    transition: all 0.2s !important;
    
    font-weight: 600;

    align-self: center;

    &:focus {
        border-color: rgb(159, 159, 159) !important;
        box-shadow: 0 0 0 0rem rgba($secondary-border-color, 0) !important;
    }
}








////////////////////////////////////////////
////////          COLORING          ////////
////////////////////////////////////////////


.primary {
    color: var(--primary) !important;
}

.secondary {
    color: white !important;
}

.danger {
    color: $danger !important;
}

.text-highlight {
    color: #f6f6f6;
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.2rem;
}








////////////////////////////////////////////
////////            TEXT            ////////
////////////////////////////////////////////


.XL-text {
    font-size: 4.75rem !important;
    font-weight: 700 !important;
    margin-bottom: 0 !important;

    color: white !important;
}

.decor-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0;

    color: white;

    @include media-breakpoint-down(md) {
        font-size: 2.5rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}

.title-text {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

    @include media-breakpoint-down(md) {
        font-size: 3rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2.3rem;
    }
}

.content-title {
    font-size: 2.5rem !important;
    font-weight: 600 !important;
    margin-bottom: 0 !important;

    color: white;
}

.content-subtitle {
    font-size: 1.15rem !important;
    font-weight: 500 !important;

    color: $muted-text !important;
}

.detail-title {
    margin-top: auto !important;
    margin-bottom: 0rem !important;
    font-size: 0.8rem !important;
    color: $muted-text !important;
}

.modal-title {
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: white !important;
}

.spaced-text {
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
















////////////////////////////////////////////
////////          UTILITY           ////////
////////////////////////////////////////////

.align-text-center {
    text-align: center;
}

@media (max-width: 1920px) {
    .d-xl-column {
        flex-direction: column !important;
    }
}

@media (max-width: 600px) {
    .d-sm-column {
        flex-direction: column !important;
    }
}

.w-fit {
    width: fit-content !important;
}

.w-max {
    width: max-content !important;
}

.gap {
    gap: $gap-size;
}

.f-grow {
    flex-grow: 1;
}

@for $i from 1 through 5 {
    .flex-grow-#{$i} {
        flex-grow: $i !important;
    }
}











////////////////////////////////////////////
////////       CONFIGURATION        ////////
////////////////////////////////////////////

.dp__theme_light {
  --dp-background-color: #171717;
  --dp-text-color: #ffffff;
  --dp-hover-color: #f3f3f31d;
  --dp-hover-text-color: #ffffff;
  --dp-hover-icon-color: #ffffff;
  --dp-primary-color: var(--primary);
  --dp-primary-disabled-color: #6bacea;
  --dp-primary-text-color: #fff;
  --dp-secondary-color: #c0c4cc;
  --dp-border-color: #3b4248;
  --dp-menu-border-color: #3b4248;
  --dp-border-color-hover: #585858;
  --dp-border-color-focus: #aaaeb7;
  --dp-disabled-color: #f6f6f6;
  --dp-scroll-bar-background: #f3f3f3;
  --dp-scroll-bar-color: #959595;
  --dp-success-color: #76d275;
  --dp-success-color-disabled: #a3d9b1;
  --dp-icon-color: #959595;
  --dp-danger-color: #ff6f60;
  --dp-marker-color: #ff6f60;
  --dp-tooltip-color: #fafafa;
  --dp-disabled-color-text: #8e8e8e;
  --dp-highlight-color: rgb(25 118 210 / 10%);
  --dp-range-between-dates-background-color: var(--dp-hover-color, #f3f3f3);
  --dp-range-between-dates-text-color: var(--dp-hover-text-color, #212121);
  --dp-range-between-border-color: var(--dp-hover-color, #f3f3f3);
  --dp-loader: 5px solid #1976d2;
}

















////////////////////////////////////////////
////////          ELEMENTS          ////////
////////////////////////////////////////////


/// Containers

.panel-card {
    display: flex;
    flex-direction: column;

    background: $darker-bg;
    border: 1px solid $border-color;
    border-radius: 18px;

    padding: 20px;
    
    gap: $gap-size;

    .info-card {
        width: 100%;
        
        padding: 14px;
        margin-top: 6px;

        border: 1px solid $secondary-border-color;
        border-radius: 12px;

        .info-card {
            border: 1px solid $border-color;
        }
    }
}

.porc-modal-content {
    background: rgb(23, 23, 23);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.408);
    border: 1px solid #343434;
    color: #ffffff;
    transition: 0.5s;

    * {
        transition: 0.4s ease-in-out;
    }
}



/// Elements

.seperator-h {
    width: auto;
    flex-grow: 1;
    align-self: center;
    height: 1px;
    background-color: rgb(118, 116, 116);
}

.seperator-v {
    height: auto;
    flex-grow: 1;
    align-self: center;
    width: 1px;
    background-color: rgb(118, 116, 116);
}

.shiftstone {
    height: 2rem;
    width: 2rem;
}
