body {
    min-height: 100vh;
    background-color: #1e252b !important;
    color: #ffffff;
}

.confirm-modal {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.btn-primary {
    border-radius: 10px !important;
}
