@import '@/assets/scss/styles.scss';

:root {
    --primary: #b25ef7; // or any color you want

    @each $name, $color in $division-colors {
        --#{$name}: #{$color};
    }
}

body {
    min-height: 100vh;
    background-color: $background-color !important;
    color: #ffffff;
}

.confirm-modal {
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.btn-primary {
    border: 1px solid var(--primary) !important;
    background-color: color-mix(in srgb, var(--primary) 97%, white 3%) !important;
    border-color: color-mix(in srgb, var(--primary) 97%, white 3%) !important;
    
    &:hover {
        background-color: color-mix(in srgb, var(--primary) 80%, black 20%) !important;
        border-color: color-mix(in srgb, var(--primary) 80%, black 20%) !important;
    }
    
    &:focus {
        background-color: color-mix(in srgb, var(--primary) 80%, black 20%) !important;
        border-color: color-mix(in srgb, var(--primary) 80%, black 20%) !important;
        box-shadow: 0 0 0 2px color-mix(in srgb, var(--primary) 20%, transparent) !important;
    }
    
    &:active {
        background-color: color-mix(in srgb, var(--primary) 60%, black 40%) !important;
        border-color: color-mix(in srgb, var(--primary) 60%, black 40%) !important;
    }
}

.btn-outline-primary {
    border: 1px solid var(--primary) !important;
    background-color: transparent !important;
    color: var(--primary) !important;
    
    &:hover {
        background-color: var(--primary) !important;
        border-color: var(--primary) !important;
        color: black !important;
    }
    
    &:focus {
        background-color: var(--primary) !important;
        border-color: var(--primary) !important;
        color: black !important;
        box-shadow: 0 0 0 2px color-mix(in srgb, var(--primary) 20%, transparent) !important;
    }
    
    &:active {
        background-color: color-mix(in srgb, var(--primary) 80%, black 20%) !important;
        border-color: color-mix(in srgb, var(--primary) 80%, black 20%) !important;
    }
}

.btn-secondary {
    border: 1px solid white !important;
    background-color: transparentize($color: white, $amount: 1) !important;

    &:hover {
        background-color: transparentize($color: white, $amount: 0.8) !important;
    }
}

.btn-danger-sec {
    border: 1px solid $danger !important;
    color: $danger !important;
    background-color: transparentize($color: $danger, $amount: 1) !important;

    &:hover {
        background-color: transparentize($color: $danger, $amount: 0.8) !important;
    }
}


.form-check-input {
    border-color: var(--primary) !important;
    
    &:checked {
        background-color: var(--primary) !important;
        border-color: var(--primary) !important;
    }

    &:focus {
        border-color: color-mix(in srgb, var(--primary) 80%, black 20%) !important;
        box-shadow: 0 0 0 2px color-mix(in srgb, var(--primary) 20%, transparent) !important;
    }
}

.form-control:focus,
textarea:focus,
.form-select:focus,
select:focus {
    border-color: color-mix(in srgb, var(--primary) 50%, white 50%) !important;
    box-shadow: 0 0 0 0.25rem color-mix(in srgb, var(--primary) 25%, transparent) !important;
    outline: 0 !important;
}

.btn {
    border-radius: 10px !important;
    font-weight: 600 !important;
}

.primary {
    color: var(--primary) !important;
}

.secondary {
    color: white !important;
}

.danger {
    color: $danger !important;
}


// formating

.XL-text {
    font-size: 4.75rem !important;
    font-weight: 700 !important;
    margin-bottom: 0 !important;

    color: white !important;
}

.decor-title {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 0;

    color: white;

    @include media-breakpoint-down(md) {
        font-size: 2.5rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2rem;
    }
}

.title-text {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;

    @include media-breakpoint-down(md) {
        font-size: 3rem;
    }

    @include media-breakpoint-down(sm) {
        font-size: 2.3rem;
    }
}

.content-title {
    font-size: 2.5rem !important;
    font-weight: 600 !important;
    margin-bottom: 0 !important;

    color: white !important;
}

.content-subtitle {
    font-size: 1.15rem !important;
    font-weight: 500 !important;

    color: $muted-text !important;
}

.detail-title {
    margin-top: auto !important;
    margin-bottom: 0rem !important;
    font-size: 0.8rem !important;
    color: $muted-text !important;
}

.text-highlight {
    color: #f6f6f6;
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-underline-offset: 0.5rem;
    text-decoration-thickness: 0.2rem;
}


.modal-title {
    font-size: 2rem !important;
    font-weight: 600 !important;
    color: white !important;
}


.seperator-h {
    width: auto;
    flex-grow: 1;
    align-self: center;
    height: 1px;
    background-color: rgb(118, 116, 116);
}

.seperator-v {
    width: auto;
    flex-grow: 1;
    align-self: center;
    width: 1px;
    background-color: rgb(118, 116, 116);
}


.porc-modal-content {
    background: rgb(23, 23, 23);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.408);
    border: 1px solid #343434;
    color: #ffffff;
    transition: 0.5s;

    * {
        transition: 0.4s ease-in-out;
    }
}




// form styles

.form-label {
    width: 100% !important;

}

.form-input {
    max-width: 100% !important;
    height: 2.5rem !important;
    background-color: #2c3339 !important;
    color: white !important;


    border-radius: 10px !important;
    border: 1px solid #3b4248 !important;

    padding: 0.5rem !important;
    margin-bottom: 1rem !important;

    &:focus {
        border-color: var(--primary) !important;      /* highlight border */
        box-shadow: 0 0 0 2px rgba(255,131,6,0.2); /* subtle glow */
        background-color: #232323 !important;   /* optional: change background */
        color: #fff !important;                 /* optional: change text color */
        outline: none !important;               /* remove default outline */
        transition: border-color 0.2s, box-shadow 0.2s;
    }
}


input:disabled,
select:disabled,
textarea:disabled {
    background-color: #444 !important;   /* darker background */
    color: #aaa !important;              /* lighter text */
    border-color: #666 !important;       /* muted border */
    opacity: 1 !important;               /* prevent default opacity */
    cursor: not-allowed !important;      /* show disabled cursor */
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


input[type=number] {
    -moz-appearance:textfield; // mozilla specific fix because of the ugliest design decision I have ever seen (hides the spinner buttons)
}



// utility

.align-text-center {
    text-align: center;
}

@media (max-width: 1920px) {
    .d-xl-column {
        flex-direction: column !important;
    }
}

@media (max-width: 600px) {
    .d-sm-column {
        flex-direction: column !important;
    }
}

.w-fit {
    width: fit-content !important;
}

.w-max {
    width: max-content !important;
}

.f-grow {
    flex-grow: 1;
}