//Bootstrap
$primary: #e1a398;
$danger: #b31446;
// $body-bg: #1e252b;
// $body-color: #ffffff;
$border-radius: 1rem;
$border-radius-sm: 1rem;

//Custom
$background-header: linear-gradient(135deg, #7a6464, #5b77e8);
$availability-color: rgb(57, 65, 141);
$match-color: rgb(244, 93, 116);
$match-request-color: rgb(231, 146, 34);
$match-declined-color: rgb(105, 120, 141);

$leaderboard-breakpoint: 1765px;

@import 'bootstrap/scss/bootstrap';
