//Bootstrap
$primary: #b25ef7; // fallback color
//$secondary: white;
$danger: #e22d67;
$background-color: rgb(20, 20, 20);
$body-bg: #ffffff;
// $body-color: #ffffff;
$border-radius: 1rem;
$border-radius-sm: 1rem;

//Custom

$dark-bg: #212529; //Bootstrap hardcoded
$dark-border: #495057; //Bootstrap hardcoded
$border-color: #515458;
$background-header: linear-gradient(135deg, #7a6464, #5b77e8);
$leaderboard-breakpoint: 1600px;

//Division colors
$division-colors: (
    meteorite: #b25ef7,
    diamond: #5eb5f7,
    mithril: #5e68f7,
    adamantium: #51c95f,
    platinum: #aeffed,
    gold: #f7ab5e,
    silver: #e2f4ce,
    bronze: #f7755e,
    iron: #b1bed7,
    stone: #dc7248,
);

//Match planner events
// $availability-color: rgb(57, 65, 141);
$availability-color: #842dcb;
$match-color: rgb(244, 93, 116);
$match-request-color: rgb(231, 146, 34);
$match-declined-color: rgb(105, 120, 141);


$trophy-color-gold: color-mix(in srgb, var(--primary) 100%, #fffbf300 0%);
$trophy-color-silver: color-mix(in srgb, var(--primary) 70%, #fffbf300 0%);
$trophy-color-bronze: color-mix(in srgb, var(--primary) 40%, #fffbf300 0%);

@import 'bootstrap/scss/bootstrap';
