@import '@/assets/scss/styles.scss';

.v-popper--theme-match-tooltip {
    .v-popper__inner {
        background-color: $match-color;
        color: #ffffff;
        border: none;
        border-radius: $border-radius;
    }

    .v-popper__arrow-outer {
        border-color: $match-color;
    }

    .v-popper__arrow-inner {
        visibility: hidden;
    }
}
